language: cpp
sudo: required
services:
  - docker

env:
  - DOCKER_TAG=tatsy/ubuntu-cxx

before_install:
  - mkdir root/
  - cp ~/.bashrc root/.bashrc

install:
  - docker build --tag=$DOCKER_TAG:latest .
  - docker build --tag=$DOCKER_TAG:opencv opencv
  - docker images

script:
  - docker run $DOCKER_TAG cat /etc/lsb-release
  - docker run $DOCKER_TAG gcc --version
  - docker run $DOCKER_TAG g++ --version
  - docker run $DOCKER_TAG clang --version
  - docker run $DOCKER_TAG clang++ --version
  - docker run $DOCKER_TAG cmake --version

after_success:
  - docker login -e="$DOCKER_EMAIL" -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
  - docker push tatsy/ubuntu-cxx

notifications:
  email:
    recipients: tatsy.mail@gmail.com
    on_success: change
    on_failure: always
